absl-py>=2.0.0
attrs>=23.1.0
cffi>=1.16.0
contourpy>=1.2.0
cycler>=0.12.1
dlib>=19.24.2
flatbuffers>=23.5.26
fonttools>=4.44.0
imutils>=0.5.4
kiwisolver>=1.4.5
matplotlib>=3.8.1
numpy>=1.26.1
opencv-contrib-python>=4.8.1.78
opencv-python>=4.8.1.78
packaging>=23.2
Pillow>=10.1.0
protobuf>=3.20.3
pycparser>=2.21
pyparsing>=3.1.1
python-dateutil>=2.8.2
scipy>=1.11.3
six>=1.16.0
sounddevice>=0.4.6
pyinstaller>=6.2.0